.Auth-form{
    width: 50vw;
    height:100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.Auth-form-subtitle{
    color: rgb(180, 185, 195);
}